<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>struts2_day01</display-name>
	
	<!--这是修改struts2常量配置的第三宗方式：在web.xml文件中添加context-param属性  -->
<!-- 	
已经在struts.xml中配置了，也是推荐在那里配置，配置一次就行了
<context-param>
	  <param-name>struts.i18n.encoding</param-name>
	  <param-value>UTF-8</param-value>
	</context-param> -->
	
	
	<!--struts2核心过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>